@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}

html, body{
    min-height: 100vh;
    background-color: dark;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: "Merriweather", serif;
    
}

section > p{
    padding-top: 2em;
}

section.normal{
    background-color: rgb(254, 254, 254);
    color: black;
}

section.imagem{
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.598);
    background-attachment: fixed;
    
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.293);
    padding: 10px;
    width: 400px;
    border-radius: 10px;

}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}